<mat-card class="card-about">
  <mat-card-header>
    <mat-card-title>About ngBlog</mat-card-title>
    <mat-card-subtitle>Version 0.0.1</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequatur aspernatur eius impedit sed tempora
      tenetur a itaque ipsum pariatur nostrum iste ad, fuga provident sapiente neque est porro eligendi alias quia
      perferendis numquam? Tempora unde temporibus sint enim. A veritatis quos minima blanditiis optio omnis quae natus
      corrupti, non minus dolorum consequatur. Aut quia repellat eos nam eaque fugiat consequatur voluptatibus ea
      accusantium. Voluptatum quas quidem voluptate nesciunt ipsa asperiores commodi voluptatibus, earum aliquid ad est
      deserunt eaque quod similique quibusdam, ratione, veritatis odio accusantium reiciendis suscipit rem mollitia
      aliquam fuga aut. Ad iure, aliquid rem incidunt aliquam consequatur!.
    </p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequatur aspernatur eius impedit sed tempora
      tenetur a itaque ipsum pariatur nostrum iste ad, fuga provident sapiente neque est porro eligendi alias quia
      perferendis numquam? Tempora unde temporibus sint enim. A veritatis quos minima blanditiis optio omnis quae natus
      corrupti, non minus dolorum consequatur. Aut quia repellat eos nam eaque fugiat consequatur voluptatibus ea
      accusantium. Voluptatum quas quidem voluptate nesciunt ipsa asperiores commodi voluptatibus, earum aliquid ad est
      deserunt eaque quod similique quibusdam, ratione, veritatis odio accusantium reiciendis suscipit rem mollitia
      aliquam fuga aut. Ad iure, aliquid rem incidunt aliquam consequatur!.
    </p>
  </mat-card-content>
</mat-card>